*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.popup{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 4vh;
}

button{
    width: 6vw;
}

